---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
// import { Image } from "astro:assets";
// import thumbsup from "../assets/images/thumbsup.png";
// import "../styles/tobii.min.css";
---

<MainLayout title="Titel">
  <article class="md:w-md lg:w-2xl relative min-h-screen max-w-screen-3xl mx-auto bg-cover bg-no-repeat h-full bg-[url('/test_background.jpg')] sm:bg-[length:200%_auto] md:bg-[length:100%_auto] lg:bg-[length:100%_auto]">
    <!-- sm:bg-contain sm:h-[60vh] -->
    <div class="absolute"></div>
    <div class="relative z-10">
      <h1 class="text-4xl font-bold mb-4">Your Article Title</h1>
      <p class="mb-10">Your article content goes here...</p>

      <div class="">
        <p>Scrollable section 1: more content...</p>
        <p>Scrollable section 2: more content...</p>
        <p>Scrollable section 3: more content...</p>
        <p>Scrollable section 4: more content...</p>

        <article class="p-4 md:p-0">
          <section class="max-w-xl mx-auto mt-32 prose" id="titel">
            <h2 class="text-6xl md:text-9xl text-center">Uperfekt er perfekt</h2>
          </section>
          <section class="max-w-4xl mx-auto mt-32" id="herovideo">
            <video width="1280" height="960" autoplay muted loop>
              <source src="pierre-falcke-video.mp4" type="video/mp4" />
            </video>
          </section>
          <section class="max-w-xl mx-auto mt-32 prose" id="manchet">
            <p class="text-xl">
              Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året rundt. Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2
              millioner fotos om året. Men Pierre kunne ikke drømme om at bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.
            </p>
            <div>
              <a href="pierre.jpeg" class="lightbox">
                <figcaption>Pierre Falcke, selvportræt</figcaption>
              </a>
            </div>
            <p class="text-2xl italic text-center bg-black p-8 text-white">Pierre sælger 2 millioner fotos om året</p>
            <p class="text-2xl italic text-center bg-black p-8 text-white">Det svarer til én fotolicens hvert 16. sekund</p>
            <p class="text-2xl italic text-center bg-black p-8 text-white">Du ser hans fotos ca. 2 gange om dagen</p>
          </section>
          <section class="max-w-4xl mx-auto my-32 prose border border-double border-black p-8" id="hvaderstockfotos">
            <h2 class="text-2xl">Hvad er stock-fotos?</h2>
            <div class="grid grid-cols-3 gap-4">
              <div>
                <p>
                  Stock-fotos er billeder, der kan købes fra et foto-website. De bruges af aviser, til markedsføring og som indhold på websites. En licens til at bruge et foto koster typisk mellem 10 og 100 kroner, alt afhængig af hvad de skal bruges
                  til.
                </p>
              </div>
              <div>
                <p>
                  Stock-fotos bliver ofte kritiseret for at være uden sjæl - det er de der billeder af en læge i hvid kittel med stetoskop om halsen på en meget hvid baggrund eller en meget glad dame fra virksomhedens salgs- eller supportafdeling.
                </p>
              </div>
              <div>
                <p>Stock-fotos har eksisteret i mange år. Før branchen blev digital, tilbød stock-foto virksomhederne billedmapper, der kunne bestilles fra. Men stock-foto branchen var én af de tidlige til at blive fuldt digitaliseret.</p>
              </div>
            </div>
          </section>
          <section class="max-w-xl mx-auto mt-32 prose" id="pierresberoemmelse">
            <h2 class="text-4xl">Pierres berømmelse</h2>
            <p>
              Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af
              film. Pierre fortsatte med at fotografere på film op gennem gymnasietiden.
            </p>
            <p>
              Pierre over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop
              blev hans nye stil.
            </p>
            <p>
              På det tidspunkt var stock-foto industrien i starten af en revolution: De første online stock-foto websites begyndte at komme på markedet, men de store, etablerede spillere på markedet holdt lidt igen. Pierre så det for sig: “Om ganske
              få år er hele branchen digital, og dem der ikke hopper med på den digitale vogn, lukker.”
            </p>
            <p>
              Så Pierre gav sig selv en udfordring: At blive landets bedst sælgende stock-fotograf. Pierre lejede et gammelt, billigt erhvervslokale i Ishøj industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10
              timer om dagen.
            </p>
            <p>Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med studiet på DMJX.</p>
          </section>
          <section id="enskillevej">
            <div class="max-w-xl mx-auto mt-32 prose">
              <h2 class="text-4xl">En skillevej</h2>
              <p>
                Pierre tjente godt det følgende årti. Men stille og roligt begyndte billederne også at give ham kvalme. Han kunne ikke holde sit eget arbejde ud, og måtte finde et modsvar til alle de blankpolerede fotos. Noget han kunne lave med
                stolthed. Pierre bestluttede sig for at droppe stock-fotos, og vende tilbage til rødderne.
              </p>
              <p>
                Han søgte inspiration i analog fotografering, i Lomo-bevægelsen, Glitch art og polaroid fotografering, og begyndte stille og roligt at skabe sig en ny stil - en stil med fokus på det uperfekte, og hvor der er et uforudsigeligt element
                i det at tage billeder.
              </p>
            </div>
            <div class="grid grid-cols-2 gap-4 max-w-4xl mx-auto my-8 items-center prose">
              <div>
                <a href="glitch.jpg" class="lightbox">
                  <figcaption>Glitch kunst</figcaption>
                </a>
              </div>
              <div>
                <a href="lomo-smena-17.jpg" class="lightbox">
                  <figcaption>Dobbelteksponering med Smena</figcaption>
                </a>
              </div>
            </div>
            <div class="max-w-xl mx-auto prose">
              <p>
                Pierre tog det endda så vidt at han ikke kun droppede at tage stock-fotos. Han fjernede også alle stock-fotos fra de tjenester, han solgte sine fotos hos. Han gik fra at være en god forretningsdrivende til at blive en vaskeægte
                boheme-type på rekordtid.
              </p>
            </div>
          </section>
          <section class="max-w-4xl mx-auto my-32 prose border border-double border-black p-8" id="fotoeksperimenter">
            <h2 class="text-2xl">Fotoeksperimenter</h2>
            <div class="grid grid-cols-3 gap-4">
              <div>
                <p>Pierre eksperimenterede med Lomo-teknikker, og brugte næsten udelukkende analoge kameraer i sine projekter.</p>
              </div>
              <div>
                <p>Pierre eksperimenterede også med Glitch art, hvor han skabte digitale forvrængninger i billederne.</p>
              </div>
              <div>
                <p>Og så eksperimenterede Pierre med dobbelteksponeringer, hvor der ofte skete uforudsete ting.</p>
              </div>
            </div>
          </section>
          <section class="max-w-xl mx-auto mt-32 prose" id="titel">
            <h2 class="text-6xl md:text-9xl text-center">Uperfekt er perfekt</h2>
          </section>
        </article>
      </div>
    </div>
  </article>
</MainLayout>

<!-- <script is:inline src="/tobii.min.js"></script>
<script defer>
  const tobii = new Tobii();
</script> -->
