---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Card2 from "../components/Card2.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
// import { Image } from "astro:assets";
// import thumbsup from "../assets/images/thumbsup.png";
// import "../styles/tobii.min.css"; <!-- sm:bg-contain sm:h-[60vh] -->
---

<MainLayout title="Titel">
  <article class="mx-auto max-w-screen-2xl">
    <section class="grid grid-cols-5 grid-rows-4">
      <img src="background_om_mig_1.webp" alt="" class="col-start-1 col-span-5 row-start-1 row-span-4 mx-auto object-cover aspect-[16/9] h-full" />
      <h1 class="text-h1_s md:text-h1_m lg:text-h1 col-start-1 col-span-1 row-start-1 row-span-2 mx-auto pl-5">
        El<span class="text-blueDarkColor">e</span>na <br />
      </h1>
      <h1 class="text-h1_s md:text-h1_m lg:text-h1 col-start-1 col-span-1 row-start-1 row-span-2 mx-auto p-5 pt-20 md:pt-32 lg:pt-56">
        Johans<span class="text-blueDarkColor">e</span>n
      </h1>
      <h2 class="text-h2_s md:text-h2_m lg:text-h2 col-start-1 col-span-3 row-start-2 row-span-3 pl-5 pt-20 md:pt-32 lg:pt-56">UX/UI DESIGNER</h2>
      <div class="hidden md:flex items-center pl-10 col-start-1 col-span-3 row-start-2 row-span-2 pt-64">
        <div class="text-menu_s md:text-menu_m lg:text-menu vertical-text pr-5">S<br />C<br />R<br />O<br />L<br />L</div>
        <div class="line w-1 h-44 bg-blueDarkColor"></div>
      </div>
      <div class="col-start-3 col-span-1 row-start-4 row-span-1 md:pt-5">
        <img src="/ikon.png" alt="" class="aspect-square w-full h-auto" />
        <h3 class="text-h3_s md:text-h3_m lg:text-h3 text-center">OM MIG</h3>
      </div>
    </section>

    <section class="md:grid grid-cols-10 grid-rows-4 bg-blueColor mx-auto p-10 md:p-0">
      <div class="col-start-2 col-span-3 row-start-1 row-span-2 lg:pt-10 lg:pr-20">
        <p class="text-h3_s md:text-h3_m lg:text-h3">Hej!</p>
        <p class="text-p_s md:text-p_m lg:text-p pt-5">Jeg er Elena Johansen, og jeg er passioneret omkring design og at skabe visuelle fortællinger og interaktioner med brugere, hvor grafik og animationer spiller en stor rolle.</p>
        <p class="text-p_s md:text-p_m lg:text-p pt-5">Jeg er nysgerrig på at videreudvikle mine design- og programmeringskompetencer, og se dem anvendt i professionelle digitale løsninger.</p>
      </div>
      <div class="col-start-5 col-span-2 row-start-2 row-span-3 pt-10 pb-10">
        <img src="/om_mig_color1.png" alt="" class="mx-auto max-w-48 md:max-w-56 lg:max-w-xs" />
      </div>
      <div class="col-start-7 col-span-3 row-start-3 row-span-2 md:pt-28 md:pl-20">
        <p class="text-p_s md:text-p_m lg:text-p">Jeg er ambitiøs, kreativ og tilstræber altid at lave mit næste projekt bedre end det forrige.</p>
        <p class="text-p_s md:text-p_m lg:text-p pt-5">Min passion ligger i at skabe brugervenlige og intuitive løsninger, der anerkendes af brugerne. Jeg tager ansvar for mit arbejde og har et godt øje for både æstetik og funktionalitet.</p>
        <p class="text-p_s md:text-p_m lg:text-p pt-5">Jeg er arbejdsom, nysgerrig på udvikling og altid klar til nye, kreative udfordringer!</p>
      </div>
    </section>

    <section class="grid grid-cols-5 grid-rows-2">
      <img src="background_evner_4.webp" alt="" class="col-start-1 col-span-5 row-start-1 row-span-2 mx-auto" />
      <div class="col-start-3 col-span-1 row-start-2 row-span-1">
        <img src="/evner.png" alt="" class="aspect-square w-full h-auto max-w-48 md:max-w-56 lg:max-w-xs" />
        <h3 class="text-h3_s md:text-h3_m lg:text-h3 text-center">EVNER</h3>
      </div>
    </section>

    <section class="md:grid grid-cols-2 gap-32 p-10 md:p-20 md:pl-36">
      <div>
        <h4 class="text-h4_s md:text-h4_m lg:text-h4 pb-10">Tekniske færdigheder</h4>
        <div class="flex">
          <img src="check_1.webp" alt="" class="pr-8 max-h-10 md:max-h-16 lg:max-h-12" />
          <p class="text-p_s md:text-p_m lg:text-p">Færdigheder i at skabe brugerflows, wireframes og interaktive prototyper i Figma</p>
        </div>
        <div class="flex pt-8">
          <img src="check_1.webp" alt="" class="pr-8 max-h-10 md:max-h-16 lg:max-h-12" />
          <p class="text-p_s md:text-p_m lg:text-p">Udføre kvalitative og kvantitative brugertests og integrere feedback i iterative designforbedringer</p>
        </div>
        <div class="flex pt-8">
          <img src="check_1.webp" alt="" class="pr-8 max-h-10 md:max-h-16 lg:max-h-12" />
          <p class="text-p_s md:text-p_m lg:text-p">Erfaring med at skabe og udføre designsystemer</p>
        </div>
        <div class="flex pt-8">
          <img src="check_1.webp" alt="" class="pr-8 max-h-10 md:max-h-16 lg:max-h-12" />
          <p class="text-p_s md:text-p_m lg:text-p">Erfaring med at lave animationer og grafik</p>
        </div>
        <div class="flex pt-8">
          <img src="check_1.webp" alt="" class="pr-8 max-h-10 md:max-h-16 lg:max-h-12" />
          <p class="text-p_s md:text-p_m lg:text-p">Udvikle responsive digitale løsninger ved hjælp af Astro og andre frameworks</p>
        </div>
      </div>

      <div>
        <h4 class="text-h4_s md:text-h4_m lg:text-h4 pb-5 pt-20 md:pt-0">Værktøjer</h4>
        <div class="flex">
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
        </div>

        <h4 class="text-h4_s md:text-h4_m lg:text-h4 pt-5 pb-3 md:pt-10 md:pb-5">Tekniske sprog</h4>
        <div class="flex">
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
        </div>

        <h4 class="text-h4_s md:text-h4_m lg:text-h4 pt-5 pb-3 md:pt-10 md:pb-5">Rammeværker</h4>
        <div class="flex">
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
          <img src="/icon.png" alt="" class="max-w-16 md:max-w-20 lg:max-w-20" />
        </div>
      </div>
    </section>

    <section class="grid grid-cols-5 grid-rows-6 bg-beigeColor">
      <img src="rejse_projekter.webp" alt="" class="col-start-1 col-span-5 row-start-1 row-span-6 mx-auto" />
      <div class="col-start-3 col-span-1 row-start-2 row-span-1">
        <img src="/rejse.png" alt="" class="aspect-square w-full h-auto max-w-48 md:max-w-56 lg:max-w-xs" />
        <h3 class="text-h3_s md:text-h3_m lg:text-h3 text-center">REJSE</h3>
      </div>
      <div class="col-start-3 col-span-1 row-start-6 row-span-1">
        <img src="/projekter.png" alt="" class="aspect-square w-full h-auto max-w-48 md:max-w-56 lg:max-w-xs" />
        <h3 class="text-h3_s md:text-h3_m lg:text-h3 text-center">PROJEKTER</h3>
      </div>

      <div class="col-start-1 col-span-5 row-start-2 row-span-6">
        <div class="grid grid-cols-4 col-span-4 grid-rows-2 row-span-2
		md:grid-rows-1 md:pt-[100px] md:pl-[70px]
		lg:pt-0 lg:pl-[70px]">
          <div class="col-start-1 col-span-1 row-start-2 row-span-1 pl-2 lg:pt-32">
            <Card
              year="2023-present"
              header="MMD studerende KEA"
              description="Skiftet i min karriere er drevet af min passion for design og skabelsen af visuel fortælling. Jeg er overbevist om, at min erfaring fra min tidligere profession er værdifuld og styrker mig i min nye passion"
              place="Danmark"
            />
          </div>
          <div class="col-start-2 col-span-1 row-start-2 row-span-1 pl-20
		  md:col-start-2 md:row-start-2 md:pt-[180px] md:pl-[0px]
		  lg:col-start-1 lg:pt-96 lg:pl-[300px]">
            <Card
              year="2012-2022"
              header="Instruktør i ballet og Yoga "
              description="Undervisningsarbejde har lært mig at tage ansvar og arbejde med mennesker. Gennem denne type job har jeg opnået erfaring med at stå foran andre, tale og præsentere"
              place="Italy, Hong-Kong, Danmark"
            />
          </div>
          <div class="col-start-1 col-span-1 row-start-3 row-span-1 pl-20
		md:col-start-2 md:row-start-2 md:pt-[370px] md:pl-[200px]
		  lg:col-start-2 lg:row-start-2 lg:pt-[650px] lg:pl-[230px]">
            <Card2
              year="2009-2012"
              header="Balletdanser i balletteater"
              description="Jeg har lært at arbejde hårdt og kontinuerligt lære og øve mig. Herunder at udvikling og forbedring af mine færdigheder er vigtigt for at opnå succes"
              place="Rundt om verden"
            />
          </div>
          <div class="col-start-3 col-span-1 row-start-3 row-span-1 pl-11
		  md:col-start-3 md:row-start-2 md:pt-[570px] md:pl-[150px]
		  lg:col-start-3 lg:row-start-2 lg:pt-[910px] lg:pl-[130px]">
            <Card2
              header="Professionel balletskole 2001-2009 /"
              header2="University of Culture and Art 2009-2015"
              description="Undervisning i ballet og kunst har givet mig stor disciplin og dedikation i at lære og udfordre mig selv, samt sans for æstetik og forståelse af visuel fortælling"
              place="Rusland"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="bg-beigeColor">
      <p>ljyfluyfuyfluyfuyfukyfkuyfuyfdluyfduyfdluyfuyfuyf</p>
    </section>
  </article>

  <!-- <script is:inline src="/tobii.min.js"></script>
<script defer>
  const tobii = new Tobii();
</script> -->
</MainLayout>
